# Папки и файлы, связанные с кешами и временными данными
__pycache__/
.pytest_cache/
.mypy_cache/

# Папка конфигурации IDE
.vscode/

# Папка с результатами покрытия кода
.coverage

# Конфигурация проекта Python (если она используется)
pyproject.toml
